{% extends 'base.html' %}
{% load static %}

{% block list_nota %}
<h2 class="text-lg font-semibold mb-4">Lista de Notas</h2>
<div class="bg-white p-4 rounded-md shadow-md">
    <a href="{% url 'app_editor:create_nota' %}" class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded">Adicionar Nota</a>
    <ul class="mt-4 space-y-2">
        {% for nota in notas %}
            <li class="border-b py-2">
                <strong>{{ nota.titulo }}</strong>
                <!-- Renderiza o conteúdo com estilos aplicados -->
                <div class="text-gray-600">
                    {{ nota.content|safe }}
                </div>
            </li>
        {% empty %}
            <p class="text-gray-500">Nenhuma nota encontrada.</p>
        {% endfor %}
    </ul>
</div>

<!-- Incluindo os estilos do editor -->
<link rel="stylesheet" href="{% static 'editor/css/editor.css' %}">
{% endblock list_nota %}

