{% extends 'base.html' %}
{% load static %}
{% block title %}Criar novo TIPO de documento{% endblock title %}

{% block create_tipo_documento %}
    <!-- Navbar -->
    {% if is_superuser %}
        {% include "components/navbar_associacao.html" %}

    {% elif is_admin_associacao %}
        {% include "components/navbar_administradores.html" %}

    {% elif is_diretor_associacao %}
        {% include "components/navbar_diretores.html" %} 

    {% elif is_presidente_associacao %}
        {% include "components/navbar_presidente.html" %} 

    {% elif is_delegado_reparticao %}
        {% include "components/navbar_delegados.html" %}

    {% elif is_auxiliar_associacao %}
        {% include "components/navbar_aux_associacao.html" %}        

    {% else %}
        {% include "components/navbar_aux_reparticao.html" %} 
    {% endif %}

<main class="flex-grow">
    <div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Criar Tipo de Documento</h1>
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="p-4 rounded-md text-white 
                    {% if message.tags == 'success' %}
                        bg-green-500
                    {% elif message.tags == 'error' %}
                        bg-red-500
                    {% elif message.tags == 'info' %}
                        bg-blue-500
                    {% else %}
                        bg-gray-500
                    {% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" class="bg-white p-6 rounded-lg shadow-md max-w-4xl mx-auto">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div>
                <br><p>O campo "Tipo de Documento" permite que você cadastre um novo tipo, que nada mais é do 
                    que um nome de documento que será utilizado frequentemente.
        
                    Se você está diante de uma situação em que o upload de um determinado documento se tornará 
                    habitual, criar um tipo específico para esse documento pode ser muito útil. Isso facilita o 
                    processo de identificação e organização, pois o nome que você cadastrar aqui aparecerá 
                    automaticamente na lista de opções durante o upload de documentos.
                    
                    Essa funcionalidade ajuda a manter os cadastros mais organizados e eficientes.
                </p>
            </div>
            <div class="mt-6">
                <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-full"
                >
                    Salvar Tipo de Documento
                </button>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
{% include "components/footer_associacao.html" %}
{% endblock create_tipo_documento %}
