{% extends 'base.html' %}
{% load static %}
{% block title %}Criar novo TIPO de documento{% endblock title %}

{% block create_tipo_documento %}
    <!-- Navbar -->
    {% if is_superuser %}
        {% include "components/navbar_associacao.html" %}

    {% elif is_admin_associacao %}
        {% include "components/navbar_administradores.html" %}

    {% elif is_diretor_associacao %}
        {% include "components/navbar_diretores.html" %} 

    {% elif is_presidente_associacao %}
        {% include "components/navbar_presidente.html" %} 

    {% elif is_delegado_reparticao %}
        {% include "components/navbar_delegados.html" %}

    {% elif is_auxiliar_associacao %}
        {% include "components/navbar_aux_associacao.html" %}        

    {% else %}
        {% include "components/navbar_aux_reparticao.html" %} 
    {% endif %}

<main class="flex-grow">
    <div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Criar Tipo de Documento</h1>
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="p-4 rounded-md text-white 
                    {% if message.tags == 'success' %}
                        bg-green-500
                    {% elif message.tags == 'error' %}
                        bg-red-500
                    {% elif message.tags == 'info' %}
                        bg-blue-500
                    {% else %}
                        bg-gray-500
                    {% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" class="bg-white p-6 rounded-lg shadow-md max-w-4xl mx-auto space-y-6">
        {% csrf_token %}

        <!-- Mensagem explicativa -->
        <div class="bg-blue-50 border-l-4 border-blue-400 p-4 rounded-md text-sm text-blue-700 shadow-sm">
            <p class="font-medium mb-1">📘 Dica:</p>
            <p>
            O campo <strong>"Tipo de Documento"</strong> permite cadastrar um nome que será reutilizado frequentemente.
            Isso ajuda na organização e facilita durante os envios futuros de documentos. A nomeção é importante para organização e identificação do sistema e busca por documentos<strong>"Essenciais"</strong>
            </p>
        </div>

        <div class="mb-4">
            <label for="{{ form.tipo.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">Tipo de Documento</label>
            {{ form.tipo }}

            {% if form.tipo.errors %}
                <p class="text-sm text-red-600 mt-1">
                {{ form.tipo.errors.0 }}
                </p>
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="{{ form.descricao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">Descrição</label>
            {{ form.descricao }}

            {% if form.descricao.errors %}
                <p class="text-sm text-red-600 mt-1">
                {{ form.descricao.errors.0 }}
                </p>
            {% endif %}
        </div>
        <!-- Botão -->
        <div class="pt-4">
            <button
            type="submit"
            class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 w-full transition"
            >
            💾 Salvar Tipo de Documento
            </button>
        </div>
        </form>

    </div>
</main>
<!-- Footer -->
{% include "components/footer_associacao.html" %}
{% endblock create_tipo_documento %}
