{% extends 'base.html' %}
{% load static %}
{% block title %}Upload de Documento{% endblock title %}
{% block upload_documentos %}
    <!-- Navbar -->
    {% if is_superuser %}
        {% include "components/navbar_associacao.html" %}
    {% elif is_admin_associacao %}
        {% include "components/navbar_administradores.html" %}
    {% elif is_delegado_reparticao %}
        {% include "components/navbar_delegados.html" %}
    {% endif %}

<main class="flex-grow">
    <div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Upload de Documento</h1>
        <!-- Exibir o nome do proprietário -->
        <div class="mb-6 p-4 bg-green-300 border border-gray-300 rounded-md max-w-md mx-auto">
            <p class="text-gray-700">
                <strong>Proprietário do Documento:</strong>
                {{ owner.user.get_full_name }}
            </p>
        </div>
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md max-w-4xl mx-auto">
            {% csrf_token %}

                <!-- Tipo do Documento -->
                <div class="mb-4">
                    <label for="id_tipo_doc" class="block text-sm font-medium text-gray-700 mb-1">Tipo do Documento</label>
                    <select
                        name="{{ form.tipo_doc.name }}"
                        id="{{ form.tipo_doc.id_for_label }}"
                        class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    >
                        <option value="" {% if not form.tipo_doc.value %}selected{% endif %}>Selecione um Tipo</option>
                        {% for tipo in form.tipo_doc.field.queryset %}
                            <option value="{{ tipo.id }}" {% if tipo.id|stringformat:"s" == form.tipo_doc.value|stringformat:"s" %}selected{% endif %}>
                                {{ tipo }}
                            </option>
                        {% endfor %}
                    </select>
                    {% for error in form.tipo_doc.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>

                <!-- Nome do Documento -->
                <div id="nome-doc-field" class="mb-4">
                    <label for="id_nome" class="block text-sm font-medium text-gray-700 mb-1">Nome do Documento</label>
                    <input 
                        type="text" 
                        name="{{ form.nome.name }}" 
                        id="{{ form.nome.id_for_label }}" 
                        class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" 
                        placeholder="Digite o nome do documento"
                        value="{{ form.nome.value|default:'' }}"
                    >
                    {% for error in form.nome.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>    

            <!-- Arquivo -->
            <div class="mb-4">
                <label for="id_arquivo" class="block text-sm font-medium text-gray-700 mb-1">Arquivo</label>
                <input
                    type="file"
                    name="{{ form.arquivo.name }}"
                    id="{{ form.arquivo.id_for_label }}"
                    class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                >
                {% for error in form.arquivo.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <!-- Descrição -->
            <div class="mb-4">
                <label for="id_descricao" class="block text-sm font-medium text-gray-700 mb-1">Descrição</label>
                <textarea
                    name="{{ form.descricao.name }}"
                    id="{{ form.descricao.id_for_label }}"
                    class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    placeholder="Adicione uma breve descrição para o documento..."
                >{{ form.descricao.value|default:'' }}</textarea>
                {% for error in form.descricao.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <!-- Botão de Envio -->
            <div class="mt-6">
                <!-- Botão de ação -->
                <div class="mt-6">
                    <button
                        type="submit"
                        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-full"
                    >
                        Enviar Documento
                    </button>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
{% include "components/footer_associacao.html" %}

<script>
    // JavaScript para ocultar/exibir o campo "Nome do Documento" baseado na seleção de "Tipo do Documento"
    document.addEventListener("DOMContentLoaded", function() {
        const tipoDocField = document.querySelector("#id_tipo_doc");
        const nomeDocField = document.querySelector("#nome-doc-field");

        function toggleNomeDocField() {
            if (tipoDocField.value) {
                nomeDocField.style.display = "none";
            } else {
                nomeDocField.style.display = "block";
            }
        }

        tipoDocField.addEventListener("change", toggleNomeDocField);
        toggleNomeDocField(); // Verifica o estado inicial
    });
</script>
{% endblock upload_documentos %}
