{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastrar Associado(a){% endblock title %}

{% block create_associado %}
    <!-- Navbar -->
    {% if is_superuser %}
        {% include "components/navbar_associacao.html" %}

    {% elif is_admin_associacao %}
        {% include "components/navbar_administradores.html" %}

    {% elif is_diretor_associacao %}
        {% include "components/navbar_diretores.html" %} 

    {% elif is_presidente_associacao %}
        {% include "components/navbar_presidente.html" %} 

    {% elif is_delegado_reparticao %}
        {% include "components/navbar_delegados.html" %}

    {% elif is_auxiliar_associacao %}
        {% include "components/navbar_aux_associacao.html" %}        

    {% else %}
        {% include "components/navbar_aux_reparticao.html" %} 
    {% endif %}
<style>
    input::placeholder {
        color: #d5dad9;
        opacity: 1;
    }
</style>

<div class="container mx-auto mt-8 bg-gray-100" style="max-width: 980px;">
    <h1 class="text-2xl font-bold mb-4 text-center py-2">Cadastrar Associado</h1>
        {% if messages %}
    <div class="space-y-4 mb-6">
        {% for message in messages %}
        <div class="flex items-start gap-3 p-4 rounded-lg shadow-md border-l-4 transition-all duration-300
            {% if message.tags == 'success' %}
            bg-green-50 border-green-500 text-green-800
            {% elif message.tags == 'error' %}
            bg-red-50 border-red-500 text-red-800
            {% elif message.tags == 'info' %}
            bg-blue-50 border-blue-500 text-blue-800
            {% else %}
            bg-gray-50 border-gray-500 text-gray-800
            {% endif %}
        ">
            <div class="pt-1">
            {% if message.tags == 'success' %}
                <svg class="w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                </svg>
            {% elif message.tags == 'error' %}
                <svg class="w-5 h-5 text-red-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            {% elif message.tags == 'info' %}
                <svg class="w-5 h-5 text-blue-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M12 12h.01"/>
                </svg>
            {% else %}
                <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 20h.01M12 4h.01"/>
                </svg>
            {% endif %}
            </div>
            <div class="text-sm leading-relaxed">{{ message }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded shadow-md">
        {% csrf_token %}
        {{ form.errors }}
        <!-- Informações Pessoais -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Exibir o nome do usuário selecionado -->
            <h2 class="text-xl text-gray-400 font-bold mb-4">{{ user.get_full_name|default:user.username }}</h2>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700 mb-1">Usuário selecionado: Username | Nome | Email Pessoal</label>
                <div class="bg-gray-100 p-2 rounded-md">
                    <span class="text-gray-500">{{user.username}} </span> 
                    | <span class="text-green-500">{{ user.get_full_name|default:user.username }}</span>
                    | <span class="text-blue-500">{{ user.email }}</span>
                </div>
            </div>
        </div>

        <!-- Vinculos do Associado -->
        <h2 class="text-lg font-bold mb-4  py-4">Vículos do Associado</h2>
            <!--Dados Principais -->
            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                <!-- Select Associação -->
                <div class="mb-4">
                    <label for="associacao" class="block text-sm font-medium text-gray-700 mb-1">Associação</label>
                    <div class="relative">
                        <select name="associacao" id="associacao" 
                                class="appearance-none block w-full border border-gray-300 rounded-lg bg-white py-3 px-4 pr-10 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm">
                            <option value="">--- Selecione ---</option>
                            {% for associacao in associacoes %}
                            <option value="{{ associacao.id }}">{{ associacao.nome_fantasia }}</option>
                            {% endfor %}
                        </select>
                        <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                            </svg>
                        </span>
                    </div>
                </div>
            
                <!-- Select Repartição -->
                <div class="mb-4">
                    <label for="reparticao" class="block text-sm font-medium text-gray-700 mb-1">Repartição</label>
                    <div class="relative">
                        <select name="reparticao" id="reparticao" 
                                class="appearance-none block w-full border border-gray-300 rounded-lg bg-white py-3 px-4 pr-10 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm">
                            <option value="">--- Selecione ---</option>
                            {% for reparticao in reparticoes %}
                            <option value="{{ reparticao.id }}">{{ reparticao.nome_reparticao }}</option>
                            {% endfor %}
                        </select>
                        <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                            </svg>
                        </span>
                    </div>
                </div>
            
                <!-- Select Município -->
                <div class="mb-4">
                    <label for="municipio_circunscricao" class="block text-sm font-medium text-gray-700 mb-1">Município de Circunscrição/Atuação</label>
                    <div class="relative">
                        <select name="municipio_circunscricao" id="municipio_circunscricao" 
                                class="appearance-none block w-full border border-gray-300 rounded-lg bg-white py-3 px-4 pr-10 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm">
                            <option value="">--- Selecione ---</option>
                            {% for municipio in municipios %}
                            <option value="{{ municipio.id }}">{{ municipio.municipio }}</option>
                            {% endfor %}
                        </select>
                        <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
                
                
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">

                <div class="mb-4">
                    <label for="{{ form.data_filiacao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.data_filiacao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.data_filiacao }}
                    </div>
                    {% for error in form.data_filiacao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.cpf.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.cpf.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cpf }}
                    </div>
                    <small class="text-gray-400 text-xs mt-1"> Obrigatório</small>
                    {% for error in form.cpf.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.senha_gov.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.senha_gov.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.senha_gov }}
                    </div>
                    {% for error in form.senha_gov.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.celular.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.celular.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.celular }}
                    </div>
                    <small class="text-gray-400 text-xs mt-1"> Obrigatório</small>
                    {% for error in form.celular.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.celular_correspondencia.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.celular_correspondencia.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.celular_correspondencia }}
                    </div>
                    {% for error in form.celular_correspondencia.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.senha_google.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.senha_google.label }} - <small class="text-red-500">Smente se Validado</small>
                    </label>
                    <div class="mt-1">
                        {{ form.senha_google }}
                    </div>
                    {% for error in form.senha_google.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                
                <div class="mb-4">
                    <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.email.label }} - <small class="text-red-500">Usuário Site</small>
                                                
                    </label>
                    <div class="mt-1">
                        {{ form.email }}
                    </div>
                    {% for error in form.email.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-4">
                    <label for="{{ form.senha_site.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.senha_site.label }} - <small class="text-red-500">Usuário Site</small>
                    </label>
                    <div class="mt-1">
                        {{ form.senha_site }}
                    </div>
                    {% for error in form.senha_site.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>             
            </div>
            <button
                type="submit"
                name="save_and_continue"
                value="1"
                class="bg-blue-400 hover:bg-green-500 text-white font-medium text-xl py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300 shadow-sm transition-all duration-200">
                Salvar e continuar
            </button>
        </div>
        <br><hr>

        {% if form.non_field_errors %}
        <div class="text-red-500 text-xs mt-1">
            {% for error in form.non_field_errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    </form>
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p class="text-green-500">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="text-red-500 text-xs mt-1">
            {% for error in form.non_field_errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}    
</div>

<!-- JavaScript para atualizações dinâmicas -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const associacaoSelect = document.getElementById('associacao');
        const reparticaoSelect = document.getElementById('reparticao');
        const municipioSelect = document.getElementById('municipio_circunscricao');  // Adicionado
    
        associacaoSelect.addEventListener('change', function () {
            const associacaoId = this.value;
    
            // Limpar as opções anteriores
            reparticaoSelect.innerHTML = '<option value="">--- Selecione ---</option>';
            municipioSelect.innerHTML = '<option value="">--- Selecione ---</option>';  // Limpa os municípios também
    
            if (associacaoId) {
                fetch(`/associados/filtro-reparticoes/${associacaoId}/`)
                    .then(response => {
                        if (!response.ok) throw new Error('Erro na resposta da requisição');
                        return response.json();
                    })
                    .then(data => {
                        console.log('Repartições recebidas:', data.reparticoes);
                        if (data.reparticoes.length > 0) {
                            data.reparticoes.forEach(reparticao => {
                                const option = document.createElement('option');
                                option.value = reparticao.id;
                                option.textContent = reparticao.nome_reparticao;
                                reparticaoSelect.appendChild(option);
                            });
                        } else {
                            console.warn('Nenhuma repartição encontrada.');
                        }
                    })
                    .catch(error => console.error('Erro ao buscar repartições:', error));
            }
        });
    
        reparticaoSelect.addEventListener('change', function () {
            const reparticaoId = this.value;
    
            municipioSelect.innerHTML = '<option value="">--- Selecione ---</option>';
    
            if (reparticaoId) {
                fetch(`/associados/filtro-municipios/${reparticaoId}/`)
                    .then(response => {
                        if (!response.ok) throw new Error('Erro na resposta da requisição');
                        return response.json();
                    })
                    .then(data => {
                        console.log('Municípios recebidos:', data.municipios);
                        if (data.municipios.length > 0) {
                            data.municipios.forEach(municipio => {
                                const option = document.createElement('option');
                                option.value = municipio.id;
                                option.textContent = municipio.municipio;  // Corrigido para 'municipio'
                                municipioSelect.appendChild(option);
                            });
                        } else {
                            console.warn('Nenhum município encontrado.');
                        }
                    })
                    .catch(error => console.error('Erro ao buscar municípios:', error));
            }
        });
    });
</script>

<!-- Footer -->
{% include "components/footer_associacao.html" %}

<script src="{% static 'js/mascaraTelefone.js' %}"></script>
<script src="{% static 'js/mascaraCPF.js' %}"></script>
<script src="{% static 'js/formularioEventos.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>
{% endblock create_associado %}
