{% extends 'base.html' %}
{% load static %}
{% block title %}Editar Associado{% endblock title %}


{% block edit_associado %}
    <!-- Navbar -->
    {% if is_superuser %}
        {% include "components/navbar_associacao.html" %}

    {% elif is_admin_associacao %}
        {% include "components/navbar_administradores.html" %}

    {% elif is_diretor_associacao %}
        {% include "components/navbar_diretores.html" %} 

    {% elif is_presidente_associacao %}
        {% include "components/navbar_presidente.html" %} 

    {% elif is_delegado_reparticao %}
        {% include "components/navbar_delegados.html" %}

    {% elif is_auxiliar_associacao %}
        {% include "components/navbar_aux_associacao.html" %}        

    {% else %}
        {% include "components/navbar_aux_reparticao.html" %} 
    {% endif %}
    
<div class="container mx-auto mt-8 bg-gray-100" style="max-width: 980px;">
    {% if messages %}
    <div class="space-y-4 mb-6">
        {% for message in messages %}
        <div class="flex items-start gap-3 p-4 rounded-lg shadow-md border-l-4 transition-all duration-300
            {% if message.tags == 'success' %}
            bg-green-50 border-green-500 text-green-800
            {% elif message.tags == 'error' %}
            bg-red-50 border-red-500 text-red-800
            {% elif message.tags == 'info' %}
            bg-blue-50 border-blue-500 text-blue-800
            {% else %}
            bg-gray-50 border-gray-500 text-gray-800
            {% endif %}
        ">
            <div class="pt-1">
            {% if message.tags == 'success' %}
                <svg class="w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                </svg>
            {% elif message.tags == 'error' %}
                <svg class="w-5 h-5 text-red-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            {% elif message.tags == 'info' %}
                <svg class="w-5 h-5 text-blue-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M12 12h.01"/>
                </svg>
            {% else %}
                <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 20h.01M12 4h.01"/>
                </svg>
            {% endif %}
            </div>
            <div class="text-sm leading-relaxed">{{ message }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <br>
    <h1 class="text-2xl font-bold mb-4 text-center py-2">Editar Associado</h1>
    <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded shadow-md">
        {% csrf_token %}
        {{ form.errors }}
        {% if form.non_field_errors %}
            <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <!-- Foto do Associado -->
        <div class="border-b border-gray-300 pb-6 mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Foto do Associado</h2>
            <div class="mb-4">
                <label for="{{ form.foto.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.foto.label }}
                </label>
                {% if form.instance.foto %}
                    <!-- Exibir a foto atual -->
                    <div class="mb-2">
                        <img src="{{ form.instance.foto.url }}" alt="Foto do Associado" class="w-32 h-32 object-cover rounded-md shadow-md">
                    </div>
                {% endif %}
                <div class="mt-1">
                    {{ form.foto }}
                </div>
                {% for error in form.foto.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <!-- Informações Pessoais -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Exibir o nome do usuário selecionado -->
            <h2 class="text-xl font-bold mb-4">
                {{ associado.user.get_full_name }}
            <hr class="border-t-4 rounded-lg my-6">
            </h2>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700 mb-1">
                Usuário selecionado: Username | Nome | Email Pessoal
                </label>
                <div class="bg-gray-100 p-2 rounded-md">
                    <span class="text-gray-500">{{ associado.user.username }}</span> 
                    <span class="text-green-500">{{ associado.user.get_full_name }}</span>
                    <span class="text-blue-500">{{ associado.user.email }}</span>
                </div>
            </div>
        </div>
        <div class="border-b border-gray-300 pb-6 mb-6">
            <div class="mb-4">
                <label for="{{ form.drive_folder_id.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.drive_folder_id.label }}
                </label>
                <div class="mt-1 relative">
                    {{ form.drive_folder_id }}
                    <span class="absolute top-2 right-2 text-gray-500 italic text-sm">Somente leitura</span>
                </div>
                {% for error in form.drive_folder_id.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        
        <div class="border-b border-gray-300 pb-6 mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Vínculos</h2>
            <!--Dados Principais -->
            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                <!-- Select Associação -->
                <div class="mb-4">
                    <label for="associacao" class="block text-sm font-medium text-gray-700 mb-1">Associação</label>
                    <div class="relative">
                        <select name="associacao" id="associacao" 
                                class="appearance-none block w-full border border-gray-300 rounded-lg bg-white py-3 px-4 pr-10 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm">
                            <option value="">--- Selecione ---</option>
                            {% for associacao in associacoes %}
                                <option value="{{ associacao.id }}" {% if associado.associacao.id == associacao.id %}selected{% endif %}>
                                    {{ associacao.nome_fantasia }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Select Repartição -->
                <div class="mb-4">
                    <label for="reparticao" class="block text-sm font-medium text-gray-700 mb-1">Repartição</label>
                    <div class="relative">
                        <select name="reparticao" id="reparticao" 
                                class="appearance-none block w-full border border-gray-300 rounded-lg bg-white py-3 px-4 pr-10 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm">
                            <option value="">--- Selecione ---</option>
                            {% for reparticao in reparticoes %}
                                <option value="{{ reparticao.id }}" {% if associado.reparticao.id == reparticao.id %}selected{% endif %}>
                                    {{ reparticao.nome_reparticao }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Select Município -->
                <div class="mb-4">
                    <label for="municipio_circunscricao" class="block text-sm font-medium text-gray-700 mb-1">Município de Circunscrição</label>
                    <div class="relative">
                        <select name="municipio_circunscricao" id="municipio_circunscricao" 
                                class="appearance-none block w-full border border-gray-300 rounded-lg bg-white py-3 px-4 pr-10 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm">
                            <option value="">--- Selecione ---</option>
                            {% for municipio in municipios %}
                                <option value="{{ municipio.id }}" {% if associado.municipio_circunscricao.id == municipio.id %}selected{% endif %}>
                                    {{ municipio.municipio }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
                
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.data_filiacao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.data_filiacao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.data_filiacao }}
                    </div>
                    {% for error in form.data_filiacao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.cpf.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.cpf.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cpf }}
                    </div>
                    <small class="text-gray-400 text-xs mt-1"> Obrigatório</small>
                    {% for error in form.cpf.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.celular.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.celular.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.celular }}
                    </div>
                    <small class="text-gray-400 text-xs mt-1"> Obrigatório</small>
                    {% for error in form.celular.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.celular_correspondencia.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.celular_correspondencia.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.celular_correspondencia }}
                    </div>
                    {% for error in form.celular_correspondencia.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.email.label }} - <small class="text-red-500">Conta Apapesc</small>
                    </label>
                    <div class="mt-1">
                        {{ form.email }}
                    </div>
                    {% for error in form.email.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.senha_site.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.senha_site.label }} - <small class="text-red-500">Site Apapesc</small>
                    </label>
                    <div class="mt-1">
                        {{ form.senha_site }}
                    </div>
                    {% for error in form.senha_site.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                      
                <div class="mb-4">
                    <label for="{{ form.senha_gov.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.senha_gov.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.senha_gov }}
                    </div>
                    {% for error in form.senha_gov.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.senha_google.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.senha_google.label }} - <small>Senha Conta Google</small>
                    </label>
                    <div class="mt-1">
                        {{ form.senha_google }}
                    </div>
                    {% for error in form.senha_google.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>  

                <!-- Status do Associado  -->
                <div class="mb-4 bg-blue-50 p-4 rounded-lg">
                    <h2 class="text-xl font-semibold text-gray-700 mb-4">Status</h2>
                    <label for="{{ form.status.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.status.label }} - <small class="text-blue-500">Determine o Status </small>
                    </label>
                    
                    <div class="mt-1">
                        {{ form.status }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}

                    <br><div id="campo_data_desfiliacao" 
                        class="mb-6 p-4 rounded-lg border-l-4 border-red-500 bg-red-50 shadow-sm" 
                        style="display: none;">
                
                        <label for="{{ form.data_desfiliacao.id_for_label }}" 
                                class="block text-sm font-semibold text-red-700 mb-2">
                        {{ form.data_desfiliacao.label }}
                        </label>
                    
                        <div class="mt-1">
                        {{ form.data_desfiliacao }}
                        </div>
                    
                        {% for error in form.data_desfiliacao.errors %}
                        <p class="text-red-600 text-xs mt-2 italic">{{ error }}</p>
                        {% endfor %}
                    </div>
               
                </div>                
            </div>

            <!--Daocumento RG  -->
            <h2 class="text-xl font-semibold text-gray-700 mb-4 py-4">Documento RG</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                
                <div class="mb-4">
                    <label for="{{ form.rg_numero.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.rg_numero.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.rg_numero }}
                    </div>
                    {% for error in form.rg_numero.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.rg_orgao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.rg_orgao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.rg_orgao }}
                    </div>
                    {% for error in form.rg_orgao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.rg_data_emissao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.rg_data_emissao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.rg_data_emissao }}
                    </div>
                    {% for error in form.rg_data_emissao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
                <div class="mb-4">
                    <label for="{{ form.naturalidade.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.naturalidade.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.naturalidade }}
                    </div>
                    {% for error in form.naturalidade.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.data_nascimento.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.data_nascimento.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.data_nascimento }}
                    </div>
                    {% for error in form.data_nascimento.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                
                                                                  
            </div> 
            <br>
            <!--Documento Habilitação  -->
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Documento CNH</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.cnh.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.cnh.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cnh }}
                    </div>
                    {% for error in form.cnh.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.cnh_data_emissao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.cnh_data_emissao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cnh_data_emissao }}
                    </div>
                    {% for error in form.cnh_data_emissao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                           
            </div> 
            <br>

            <!--Dados Complementares -->
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Dados Complementares</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

                <div class="mb-4">
                    <label for="{{ form.sexo_biologico.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.sexo_biologico.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.sexo_biologico }}
                    </div>
                    {% for error in form.sexo_biologico.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.etnia.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.etnia.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.etnia }}
                    </div>
                    {% for error in form.etnia.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.escolaridade.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.escolaridade.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.escolaridade }}
                    </div>
                    {% for error in form.escolaridade.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>   
                <div class="mb-4">
                    <label for="{{ form.estado_civil.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.estado_civil.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.estado_civil }}
                    </div>
                    {% for error in form.estado_civil.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.profissao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.profissao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.profissao }}
                    </div>
                    {% for error in form.profissao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.nome_mae.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.nome_mae.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.nome_mae }}
                    </div>
                    {% for error in form.nome_mae.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>    
                <div class="mb-4">
                    <label for="{{ form.nome_pai.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.nome_pai.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.nome_pai }}
                    </div>
                    {% for error in form.nome_pai.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                                                                               
            </div>
            <!--Dados Singulares de Atividade -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 bg-blue-50 p-4 rounded-lg">
                <h2 class="text-xl font-semibold text-gray-700 mb-4">Dados Singulares de Atividade</h2>
                <span class="text-sm">Distribuição de Serviços (Ativos) Inss/Defeso</span>
                <div class="mb-4">
                    <label for="{{ form.recolhe_inss.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.recolhe_inss.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.recolhe_inss }}
                    </div>
                    {% for error in form.recolhe_inss.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.recebe_seguro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.recebe_seguro.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.recebe_seguro }}
                    </div>
                    {% for error in form.recebe_seguro.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 bg-yellow-100 p-4 rounded-lg">
                <h2 class="text-xl font-semibold text-gray-700 mb-4">Informações para o MAPA</h2>
                <span class="text-sm">Atualização Anual - Reaps</span>
                <div class="mb-4">
                    <label for="{{ form.ja_recebeu_defeso_algumavez.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.ja_recebeu_defeso_algumavez.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.ja_recebeu_defeso_algumavez }}
                    </div>
                    {% for error in form.ja_recebeu_defeso_algumavez.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                
                <div class="mb-4">
                    <label for="{{ form.relacao_trabalho.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.relacao_trabalho.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.relacao_trabalho }}
                    </div>
                    {% for error in form.relacao_trabalho.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
                <div class="mb-4">
                    <label for="{{ form.comercializa_produtos.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.comercializa_produtos.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.comercializa_produtos }}
                    </div>
                    {% for error in form.comercializa_produtos.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>  
                <div class="mb-4">
                    <label for="{{ form.bolsa_familia.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.bolsa_familia.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.bolsa_familia }}
                    </div>
                    {% for error in form.bolsa_familia.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                                                  
            </div> 
            <br>
            <!--Documentos Oficiais - Cidadão -->
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Documentos do Cidadão</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.nit.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.nit.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.nit }}
                    </div>
                    {% for error in form.nit.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>    
                <div class="mb-4">
                    <label for="{{ form.pis.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.pis.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.pis }}
                    </div>
                    {% for error in form.pis.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
                <div class="mb-4">
                    <label for="{{ form.caepef.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.caepef.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.caepef }}
                    </div>
                    {% for error in form.caepef.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                    </div>
                <div class="mb-4">
                    <label for="{{ form.cei.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.cei.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cei }}
                    </div>
                    {% for error in form.cei.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.titulo_eleitor.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.titulo_eleitor.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.titulo_eleitor }}
                    </div>
                    {% for error in form.titulo_eleitor.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>              
            </div>
            <br>
            <!--Documentos Profissionais RGP -->
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Documentação Profissional - RGP</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.rgp.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.rgp.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.rgp }}
                    </div>
                    {% for error in form.rgp.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.rgp_data_emissao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.rgp_data_emissao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.rgp_data_emissao }}
                    </div>
                    {% for error in form.rgp_data_emissao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.primeiro_registro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.primeiro_registro.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.primeiro_registro }}
                    </div>
                    {% for error in form.primeiro_registro.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.rgp_mpa.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.rgp_mpa.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.rgp_mpa }}
                    </div>
                    {% for error in form.rgp_mpa.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <br>
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Documentação Trabalho - CTPS</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.ctps.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.ctps.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.ctps }}
                    </div>
                    {% for error in form.ctps.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.ctps_serie.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.ctps_serie.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.ctps_serie }}
                    </div>
                    {% for error in form.ctps_serie.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.ctps_data_emissao.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.ctps_data_emissao.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.ctps_data_emissao }}
                    </div>
                    {% for error in form.ctps_data_emissao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                    </div>
                <div class="mb-4">
                    <label for="{{ form.ctps_uf.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.ctps_uf.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.ctps_uf }}
                    </div>
                    {% for error in form.ctps_uf.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                    
            </div>
            <br>
            <!-- Seção Endereço do Associado -->
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Endereço</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="mb-4">
                    <label for="{{ form.logradouro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.logradouro.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.logradouro }}
                    </div>
                    {% for error in form.logradouro.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
                <div class="mb-4">
                    <label for="{{ form.bairro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.bairro.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.bairro }}
                    </div>
                    {% for error in form.bairro.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.numero.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.numero.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.numero }}
                    </div>
                    {% for error in form.numero.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.complemento.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.complemento.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.complemento }}
                    </div>
                    {% for error in form.complemento.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.cep.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.cep.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cep }}
                    </div>
                    {% for error in form.cep.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.municipio.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.municipio.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.municipio }}
                    </div>
                    {% for error in form.municipio.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.uf.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.uf.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.uf }}
                    </div>
                    {% for error in form.uf.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                
            </div>
            <br>
            <hr>
            <br>
            <!--Tabela informativa -->
            <div class="overflow-x-auto">
                <!-- Produção Anual  -->
                <h2 class="text-xl font-semibold text-gray-700 mb-4 py-4">Produção Anual</h2>
                <h3 class="text-lg font-bold text-gray-700 mb-4">Informações Auxiliares</h3>
                <p>Guia - Para o preenchimento do formulário de produção anual, use valores de peso entre os indicados, <strong>EXCETO em casos específicos</strong></p>
                <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Espécie</th>
                            <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Quantidade Média a partir</th>
                            <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Quantidade Média máxima</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Pampo -->
                        <tr class="border-b hover:bg-gray-50">
                            <td class="py-2 px-4 text-sm text-gray-700">Pampo</td>
                            <td class="py-2 px-4 text-sm text-gray-700">de 170,00 kg</td>
                            <td class="py-2 px-4 text-sm text-gray-700">até 230,00 kg</td>
                        </tr>
                        <!-- Abrótea -->
                        <tr class="border-b hover:bg-gray-50">
                            <td class="py-2 px-4 text-sm text-gray-700">Abrótea</td>
                            <td class="py-2 px-4 text-sm text-gray-700">de 3.500,00  kg</td>
                            <td class="py-2 px-4 text-sm text-gray-700">até 3.700,00 kg</td>
                        </tr>
                        <!-- Tainha -->
                        <tr class="border-b hover:bg-gray-50">
                            <td class="py-2 px-4 text-sm text-gray-700">Tainha</td>
                            <td class="py-2 px-4 text-sm text-gray-700">de 3.900,00 kg</td>
                            <td class="py-2 px-4 text-sm text-gray-700">até 4.100,00 kg</td>
                        </tr>
                        <!-- Anchova -->
                        <tr class="border-b hover:bg-gray-50">
                            <td class="py-2 px-4 text-sm text-gray-700">Anchova</td>
                            <td class="py-2 px-4 text-sm text-gray-700">de 3.100,00 kg</td>
                            <td class="py-2 px-4 text-sm text-gray-700">até 3.300,00 kg</td>
                        </tr>
                        <!-- Robalo -->
                        <tr class="hover:bg-gray-50">
                            <td class="py-2 px-4 text-sm text-gray-700">Robalo</td>
                            <td class="py-2 px-4 text-sm text-gray-700">de 270,00 kg</td>
                            <td class="py-2 px-4 text-sm text-gray-700">até 330,00 kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3 class="text-lg font-bold text-gray-700 mb-4 py-8">Produção Anual - Atividade Pesqueira</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">        
                <div class="mb-4">
                    <label for="{{ form.especie1.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.especie1.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.especie1 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                    </div>
                <div class="mb-4">
                    <label for="{{ form.quantidade1.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.quantidade1.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.quantidade1 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
                <div class="mb-4">
                    <label for="{{ form.especie2.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.especie2.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.especie2 }}
                    </div>
                    {% for error in form.status.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.quantidade2.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.quantidade2.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.quantidade2 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.especie3.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.especie3.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.especie3 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                    </div>
                <div class="mb-4">
                    <label for="{{ form.quantidade3.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.quantidade3.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.quantidade3 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
                <div class="mb-4">
                    <label for="{{ form.especie4.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.especie4.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.especie4 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                    </div>
                <div class="mb-4">
                    <label for="{{ form.quantidade4.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.quantidade4.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.quantidade4 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.especie5.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.especie5.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.especie5 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <label for="{{ form.quantidade5.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                        {{ form.quantidade5.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.quantidade5 }}
                    </div>
                    {% for error in form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>                                                                            
            </div>
            <br>
            <div class="border-b border-gray-300 pb-6 mb-6">
                   <h2 class="text-xl font-semibold text-gray-700 mb-4">Anotações</h2>
                <!-- Campos da Seção 4 -->
                <div class="mt-1 w-full" style="max-width: 100%; padding: 0; margin: 0;">
                    {% include 'components/my_editor.html' %}
                </div>   
            </div>             
            <!-- Botões de Ação -->
            <div class="mt-8 flex justify-end space-x-4">
                <a href="{% url 'app_associados:single_associado' associado.pk %}" class="text-blue-500 hover:underline">
                    Cancelar
                </a>
                <!-- Botão para salvar e ir para a página de detalhe -->
                <button
                    type="submit"
                    name="save_and_view"
                    value="1"
                    class="bg-blue-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    Salvar e Visualizar
                </button>
            </div>
        </div>
    </form>
</div>
<!-- JavaScript para atualizações dinâmicas -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const associacaoSelect = document.getElementById('associacao');
        const reparticaoSelect = document.getElementById('reparticao');
        const municipioSelect = document.getElementById('municipio_circunscricao');  // Adicionado
    
        associacaoSelect.addEventListener('change', function () {
            const associacaoId = this.value;
    
            // Limpar as opções anteriores
            reparticaoSelect.innerHTML = '<option value="">--- Selecione ---</option>';
            municipioSelect.innerHTML = '<option value="">--- Selecione ---</option>';  // Limpa os municípios também
    
            if (associacaoId) {
                fetch(`/associados/filtro-reparticoes/${associacaoId}/`)
                    .then(response => {
                        if (!response.ok) throw new Error('Erro na resposta da requisição');
                        return response.json();
                    })
                    .then(data => {
                        console.log('Repartições recebidas:', data.reparticoes);
                        if (data.reparticoes.length > 0) {
                            data.reparticoes.forEach(reparticao => {
                                const option = document.createElement('option');
                                option.value = reparticao.id;
                                option.textContent = reparticao.nome_reparticao;
                                reparticaoSelect.appendChild(option);
                            });
                        } else {
                            console.warn('Nenhuma repartição encontrada.');
                        }
                    })
                    .catch(error => console.error('Erro ao buscar repartições:', error));
            }
        });
    
        reparticaoSelect.addEventListener('change', function () {
            const reparticaoId = this.value;
    
            municipioSelect.innerHTML = '<option value="">--- Selecione ---</option>';
    
            if (reparticaoId) {
                fetch(`/associados/filtro-municipios/${reparticaoId}/`)
                    .then(response => {
                        if (!response.ok) throw new Error('Erro na resposta da requisição');
                        return response.json();
                    })
                    .then(data => {
                        console.log('Municípios recebidos:', data.municipios);
                        if (data.municipios.length > 0) {
                            data.municipios.forEach(municipio => {
                                const option = document.createElement('option');
                                option.value = municipio.id;
                                option.textContent = municipio.municipio;  // Corrigido para 'municipio'
                                municipioSelect.appendChild(option);
                            });
                        } else {
                            console.warn('Nenhum município encontrado.');
                        }
                    })
                    .catch(error => console.error('Erro ao buscar municípios:', error));
            }
        });
    });
</script>
<script>
    function toggleCampoDesfiliacao() {
      const status = document.getElementById("id_status").value;
      const campo = document.getElementById("campo_data_desfiliacao");
  
      if (status === "Desassociado(a)") {
        campo.style.display = "block";
      } else {
        campo.style.display = "none";
        // Opcional: limpa o valor do campo
        document.getElementById("id_data_desfiliacao").value = "";
      }
    }
  
    document.addEventListener("DOMContentLoaded", function () {
      toggleCampoDesfiliacao(); // ao carregar
      document.getElementById("id_status").addEventListener("change", toggleCampoDesfiliacao);
    });
  </script>
 <script>
    document.addEventListener('DOMContentLoaded', function() {
        const statusSelect = document.getElementById('id_status');
        const recolheInssSelect = document.getElementById('id_recolhe_inss');
        const recebeSeguroSelect = document.getElementById('id_recebe_seguro');

        function verificarStatus() {
            const status = statusSelect.value;

            if (status !== 'Associado Lista Ativo(a)') {
                // 🔒 Bloqueia e seta como "Não"
                recolheInssSelect.value = 'Não';
                recolheInssSelect.disabled = true;

                recebeSeguroSelect.value = 'Não Recebe';
                recebeSeguroSelect.disabled = true;
            } else {
                // 🔓 Libera para edição
                recolheInssSelect.disabled = false;
                recebeSeguroSelect.disabled = false;
            }
        }

        // Executa no carregamento inicial
        verificarStatus();

        // Executa quando mudar o status
        statusSelect.addEventListener('change', verificarStatus);
    });
    </script> 
{% include 'components/footer_associacao.html' %}
<!-- CSS do Editor -->
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
<!-- JS do Editor -->
<script src="{% static 'js/editor.js' %}"></script>

<script src="{% static 'js/mascaraTelefone.js' %}"></script>
<script src="{% static 'js/mascaraCPF.js' %}"></script>
<script src="{% static 'js/mascaraCEP.js' %}"></script> 
<script src="{% static 'js/formularioEventos.js' %}"></script>

{% endblock edit_associado %}