.associacao-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Peso da fonte */
    font-size: 4rem; /* Tamanho base */
    letter-spacing: 0.1em; /* Espaçamento entre letras */
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(
        60deg,
        #145d3b, /* Verde */
        #ffffff, /* Laranja */
        #4299e1  /* Azul */
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 auto;
    line-height: 1.2; /* Altura da linha */
    animation: gradientAnimation 6s infinite linear; /* Movimento suave do gradiente */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Ajustes para telas menores */
@media (max-width: 1024px) {
    .associacao-title {
        font-size: 3rem; /* Diminui o tamanho da fonte */
    }
}

@media (max-width: 768px) {
    .associacao-title {
        font-size: 2.5rem;
        letter-spacing: 0.08em; /* Reduz o espaçamento entre letras */
    }
}

@media (max-width: 480px) {
    .associacao-title {
        font-size: 2rem;
        letter-spacing: 0.05em;
    }
}
