{% extends 'base.html' %}
{% load static %}
{% block title %}Criar Cargo{% endblock title %}
{% block create_cargo %}
<!-- Página de acesso restrito ao Superuser e Admin da Associação -->
{% include 'components/navbar_associacao.html' %}

<main class="flex-grow">
    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-4">Criar Novo Cargo</h1>
        <form method="post" class="bg-white p-6 rounded shadow-md max-w-lg">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_nome" class="block text-sm font-medium text-gray-700">Nome do Cargo</label>
                <input
                    type="text"
                    name="{{ form.nome.name }}"
                    id="id_nome"
                    class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    placeholder="Digite o nome do cargo"
                    value="{{ form.nome.value|default:'' }}"
                >
                {% for error in form.nome.errors %}
                <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                Salvar
            </button>
        </form>
    </div>
</main>
<!-- Footer -->
{% include "components/footer_associacao.html" %}   
{% endblock create_cargo %}
