{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Associação{% endblock title %}

{% block create_associacao %}
<!-- Página de acesso restrito ao Superuser -->
{% include 'components/navbar_associacao.html' %}
{% if messages %}
<div class="mb-4">
    {% for message in messages %}
        <div class="p-4 rounded-md text-white 
            {% if message.tags == 'success' %}bg-green-500
            {% elif message.tags == 'error' %}bg-red-500
            {% elif message.tags == 'info' %}bg-blue-500
            {% else %}bg-gray-500
            {% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="container mx-auto mt-8 p-4 bg-white shadow-md rounded">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Cadastrar Nova Associação</h1>
    <form method="post" enctype="multipart/form-data" class="bg-white p-8 rounded-lg shadow-lg">
        {% csrf_token %}
        
        <!-- Seção: Dados Principais -->
        <div class="border-b border-gray-300 pb-6 mb-6">
            <h2 class="text-lg font-semibold text-gray-800 mb-4">Dados Principais</h2>
            
            <!-- Campo: Nome Fantasia -->
            <div class="w-full">
                <label for="{{ form.nome_fantasia.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.nome_fantasia.label }}
                </label>
                <div class="mt-1">
                    {{ form.nome_fantasia }}
                </div>
                {% for error in form.nome_fantasia.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="w-full">
                <label for="{{ form.razao_social.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.razao_social.label }}
                </label>
                <div class="mt-1">
                    {{ form.razao_social }}
                </div>
                {% for error in form.razao_social.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.email.label }}
                </label>
                <div class="mt-1">
                    {{ form.email }}
                </div>
                {% for error in form.email.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <!--Dados Principais -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- CNPJ -->
            <div class="mb-4">
                <label for="{{ form.cnpj.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.cnpj.label }}
                </label>
                <div class="mt-1">
                    {{ form.cnpj }}
                </div>
                {% for error in form.cnpj.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>
            <!-- CELULAR -->
            <div class="mb-4">
                <label for="{{ form.celular.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.celular.label }}
                </label>
                <div class="mt-1">
                    {{ form.celular }}
                </div>
                {% for error in form.celular.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.telefone.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.telefone.label }}
                </label>
                <div class="mt-1">
                    {{ form.telefone }}
                </div>
                {% for error in form.telefone.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>            
            <!-- Administrador -->
            <div class="mb-4">
                <label for="{{ form.administrador.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.administrador.label }}
                </label>
                <div class="mt-1">
                    {{ form.administrador }}
                </div>
                {% for error in form.administrador.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>
            <!-- Presidente -->
            <div class="mb-4">
                <label for="{{ form.presidente.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ form.presidente.label }}
                </label>
                <div class="mt-1">
                    {{ form.presidente }}
                </div>
                {% for error in form.presidente.errors %}
                    <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
                {% endfor %}
            </div>                                             
        </div>
        <div class="w-full">
            <label for="{{ form.fundadores.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                {{ form.fundadores.label }}
            </label>
            <div class="mt-1">
                {{ form.fundadores }}
            </div>
            {% for error in form.fundadores.errors %}
                <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
            {% endfor %}  
        </div>
        <div class="mb-6">
            <h2 class="text-sm font-semibold text-gray-700 mb-2">Selecione um ou Múltiplos Diretores</h2>
          
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-2 gap-x-4 max-h-[400px] overflow-y-auto border border-gray-300 p-3 rounded-md bg-white">
              {% for choice in form.diretores.field.queryset %}
                <label class="flex items-center space-x-2 text-sm text-gray-700">
                  <input
                    type="checkbox"
                    name="{{ form.diretores.name }}"
                    value="{{ choice.id }}"
                    {% if choice.id|stringformat:"s" in form.diretores.value|stringformat:"s" %}checked{% endif %}
                    class="form-checkbox text-blue-600 rounded focus:ring-blue-500"
                  >
                  <span>{{ choice }}</span>
                </label>
              {% endfor %}
            </div>
          
            {% for error in form.diretores.errors %}
              <p class="text-red-500 text-xs mt-1 italic">{{ error }}</p>
            {% endfor %}
          </div>
        <br>
        <!-- Seção Endereço do Associação -->
        <h2 class="text-xl font-semibold text-gray-700 mb-4">Endereço da Associação</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="mb-4">
                <label for="{{ form.logradouro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.logradouro.label }}
                </label>
                <div class="mt-1">
                    {{ form.logradouro }}
                </div>
                {% for error in form.logradouro.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div> 
            <div class="mb-4">
                <label for="{{ form.bairro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.bairro.label }}
                </label>
                <div class="mt-1">
                    {{ form.bairro }}
                </div>
                {% for error in form.bairro.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.numero.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.numero.label }}
                </label>
                <div class="mt-1">
                    {{ form.numero }}
                </div>
                {% for error in form.numero.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.complemento.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.complemento.label }}
                </label>
                <div class="mt-1">
                    {{ form.complemento }}
                </div>
                {% for error in form.complemento.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.cep.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.cep.label }}
                </label>
                <div class="mt-1">
                    {{ form.cep }}
                </div>
                {% for error in form.cep.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.municipio.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.municipio.label }}
                </label>
                <div class="mt-1">
                    {{ form.municipio }}
                </div>
                {% for error in form.municipio.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.uf.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.uf.label }}
                </label>
                <div class="mt-1">
                    {{ form.uf }}
                </div>
                {% for error in form.uf.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>                
        </div>        
        <!-- Seção Datas -->
        <h2 class="text-xl font-semibold text-gray-700 mb-4">Datas</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="mb-4">
                <label for="{{ form.data_abertura.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.data_abertura.label }}
                </label>
                <div class="mt-1">
                    {{ form.data_abertura }}
                </div>
                {% for error in form.data_abertura.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="{{ form.data_encerramento.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.data_encerramento.label }}
                </label>
                <div class="mt-1">
                    {{ form.data_encerramento }}
                </div>
                {% for error in form.data_encerramento.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Botão de ação -->
        <div class="mt-6">
            <button name="save_and_continue" type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-full">
                Salvar e continuar editando
            </button>
        </div>
        <div class="mt-6">
            <button name="save_and_view" type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-full">
                Salvar
            </button>
        </div>
    </form>
</div>
<!-- Footer -->
{% include "components/footer_associacao.html" %}
<!-- Carregar o JavaScript separado em arquivos -->
<script src="{% static 'js/mascaraTelefone.js' %}"></script>
<script src="{% static 'js/municipio_select.js' %}"></script>
<script src="{% static 'js/mascaraCEP.js' %}"></script>
<script src="{% static 'js/formularioEventos.js' %}"></script>
{% endblock create_associacao %}

