{% extends 'base.html' %}
{% load static %}

{% block title %}Adcionar Integrante{% endblock title %}

{% block create_integrante %}
<!-- Página de acesso restrito ao Superuser -->
{% include 'components/navbar_associacao.html' %}
{% if messages %}
<div class="mb-4">
    {% for message in messages %}
        <div class="p-4 rounded-md text-white 
            {% if message.tags == 'success' %}
                bg-green-500
            {% elif message.tags == 'error' %}
                bg-red-500
            {% elif message.tags == 'info' %}
                bg-blue-500
            {% else %}
                bg-gray-500
            {% endif %}
        ">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="bg-gray-100">
    <div class="container mx-auto my-8">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Adicionar Integrante</h1>
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md max-w-4xl mx-auto">
            {% csrf_token %}

            <!-- Exibir o nome do usuário selecionado -->
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700 mb-1">Usuário selecionado: Username | Nome | Email Pessoal</label>
                <div class="bg-gray-100 p-2 rounded-md">
                    <span class="text-gray-500">{{ user.username }} </span> 
                    | <span class="text-green-500">{{ user.get_full_name|default:user.username }}</span>
                    | <span class="text-blue-500">{{ user.email }}</span>
                </div>
            </div>

            <!-- Campo oculto para enviar o ID do usuário -->
            <input type="hidden" name="user" value="{{ user.id }}">
            <hr><br>
            <!-- Campos em duas colunas -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <!-- Campo CPF -->
                <div>
                    <label for="id_cpf" class="block text-sm font-medium text-gray-700 mb-1">CPF</label>
                    <input
                        type="text"
                        name="{{ form.cpf.name }}"
                        id="{{ form.cpf.id_for_label }}"
                        class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                        placeholder="000.000.000-00"
                        oninput="mascaraCPF(this)"
                        value="{{ form.cpf.value|default:'' }}"
                    >
                    {% for error in form.cpf.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>

                <!-- Campo Celular -->
                <div>
                    <label for="{{ form.celular.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">Celular</label>
                    <input
                        type="text"
                        name="{{ form.celular.name }}"
                        id="{{ form.celular.id_for_label }}"
                        class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                        placeholder="(48)99999-9999"
                        value="{{ form.celular.value|default:'' }}"
                        oninput="mascaraTelefone(this)"
                    >

                    {% for error in form.celular.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div> 
            </div>
            <br>
            <!-- Campo de Seleção de Grupo -->
            <div class="mb-6 py-8 bg-gray-200 px-2  rounded-md">
                <!-- Mensagem de Alerta -->
                <div class="bg-red-600 border-l-4 border-yellow-500 text-gray-50 p-6 mb-6 rounded-md ">
                    <p class="font-bold">Atenção! (Campo Obrigatório)</p>
                    <p>
                        A escolha correta do grupo é essencial. O grupo selecionado determinará as páginas e funcionalidades que o 
                        integrante poderá acessar. Veja as instruções sobre grupos e licenças de acesso abaixo do formulário
                    </p>
                </div>

                <div>
                    <label for="{{ form.group.id_for_label }}" class="block text-lg font-medium text-gray-900 mb-2">
                        <span class="text-red-600 font-bold">Grupo *</span>
                    </label>
                    <select
                        name="{{ form.group.name }}"
                        id="{{ form.group.id_for_label }}"
                        class="appearance-none border-2 border-red-500 rounded-lg w-full py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                    >
                        <option value="" {% if not form.group.value %}selected{% endif %}>Selecione um Grupo</option>
                        {% for group in form.group.field.queryset %}
                            <option value="{{ group.id }}" {% if group.id|stringformat:"s" == form.group.value|stringformat:"s" %}selected{% endif %}>
                                {{ group.name }}
                            </option>
                        {% endfor %}
                    </select>
                    {% for error in form.group.errors %}
                        <p class="text-red-500 text-xs mt-2">{{ error }}</p>
                    {% endfor %}
                </div>
            </div> 
            <!-- Botão de Ação -->
            <div class="mt-6">
                <button name="save_and_continue" type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-full">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>


<script src="{% static 'js/mascaraTelefone.js' %}"></script>
<script src="{% static 'js/mascaraCPF.js' %}"></script>
<script src="{% static 'js/mascaraCEP.js' %}"></script>
{% endblock create_integrante %}

