{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Integrantes{% endblock title %}


{% block list_integrante %}

<!-- Navbar (já configurada, incluímos no topo) -->
{% include 'components/navbar_associacao.html' %}
<div class="container mx-auto py-4">
    <h1 class="text-2xl font-bold mb-6">Lista de Integrantes</h1>

    <table class="table-auto w-full border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2">Nome</th>
                <th class="border border-gray-300 px-4 py-2">Associação</th>
                <th class="border border-gray-300 px-4 py-2">Repartição</th>
                <th class="border border-gray-300 px-4 py-2">Cargo</th>
                <th class="border border-gray-300 px-4 py-2">Email Profissional</th>
                <th class="border border-gray-300 px-4 py-2">Telefone</th>
                <th class="border border-gray-300 px-4 py-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for integrante in integrantes_list %}
            <tr class="hover:bg-gray-50">
                <td class="border border-gray-300 px-4 py-2">
                    <a href="{% url 'app_associacao:single_integrante' integrante.id %}" class="text-blue-500 hover:underline">
                        {{ integrante.user.get_full_name }}
                    </a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ integrante.associacao.nome_fantasia}}</td>                
                <td class="border border-gray-300 px-4 py-2">{{ integrante.reparticao }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    {{ integrante.cargo.nome|default:"Sem cargo" }}
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ integrante.email }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ integrante.celular }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    <a href="{% url 'app_associacao:edit_integrante' integrante.id %}" class="text-yellow-500 hover:underline">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center text-gray-500 py-4">Nenhum integrante encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4 py-2">
        <span>Você pode adcionar um novo integrante associacao a partir de um usuário(User)</span>
        <br><br>
        <a href="{% url 'app_associacao:list_users' %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
            Adicionar Novo Integrante
        </a>
    </div>
</div>

{% endblock list_integrante %}
