{% extends 'base.html' %}
{% load static %}
{% load extras %}


{% block title %}Lista de Usuários Global{% endblock title %}

{% block list_users %}
    <!-- Navbar --><!-- Lógica -->
    {% if is_superuser %}
        {% include "components/navbar_associacao.html" %}

    {% elif is_admin_associacao %}
        {% include "components/navbar_administradores.html" %}

    {% elif is_diretor_associacao %}
        {% include "components/navbar_diretores.html" %} 

    {% elif is_presidente_associacao %}
        {% include "components/navbar_presidente.html" %} 

    {% elif is_delegado_reparticao %}
        {% include "components/navbar_delegados.html" %}

    {% elif is_auxiliar_associacao %}
        {% include "components/navbar_aux_associacao.html" %}        

    {% else %}
        {% include "components/navbar_aux_reparticao.html" %} 
    {% endif %}

<main class="flex-grow">
    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-4">Lista de Usuários</h1>

        <!-- Campo de busca -->
        <form method="get" action="{% url 'app_associacao:list_users' %}" class="mb-6 flex space-x-2">
            <input 
                type="text" 
                name="q" 
                placeholder="Buscar por nome, sobrenome ou email" 
                value="{{ request.GET.q }}" 
                class="flex-1 border border-gray-300 rounded-md py-2 px-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            >
            <button 
                type="submit" 
                class="bg-blue-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded"
            >
                Buscar
            </button>
        </form>
        <div class="bg-blue-50 border-l-4 border-blue-400 p-4 rounded-lg shadow-md max-w-7xl mx-auto my-6">
            <div class="flex items-start">
              <!-- Ícone de informação -->
              <svg class="w-6 h-6 text-blue-400 flex-shrink-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9 9h1V5H9v4zm0 6h2v-2H9v2zm10-5a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
          
              <!-- Conteúdo do Aviso -->
              <div class="ml-3">
                <h3 class="text-lg font-medium text-blue-800">Informação importante</h3>
                <p class="mt-2 text-sm text-blue-700">
                  Você pode <strong>Tornar</strong> um usuário em um <strong>integrante</strong> ou torná-lo um <strong>
                    associado</strong> a partir dessa lista. Caso não encontre o usuário desejado nas buscas, 
                    será necessário cadastrar uma conta de usuário global.
                </p>
                <p class="mt-2 text-sm text-blue-700">
                  Depois de cadastrar a nova conta no site da <strong>APAPESC</strong>, retorne a essa lista e procure 
                  pelo nome de usuário, e-mail ou nome completo para encontrar a nova conta cadastrada.
                </p>
                <p class="mt-4 text-sm font-semibold text-red-600">
                  ⚠️ Abra uma guia anônima ou utilize outro navegador para registrar a nova conta. Voçê está logado(a) e o sistema não permite dois ou mais logins simultâneos no mesmo navegador.
                  Clique no botão abaixo, copie o link e cole na nova janela.
                </p>

                      <!-- Link com opção de copiar -->
                <div class="mt-4 flex items-center">
                    <h1 id="signup-link" class="text-sm text-blue-600 font-semibold">https://apapesc.com/accounts/signup/</h1>
                    <button onclick="copyToClipboard('signup-link')" class="ml-2 p-2 bg-blue-100 rounded-md hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-300">
                    <!-- Ícone de copiar -->
                    <svg class="w-5 h-5 text-blue-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M8 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V6a2 2 0 00-2-2H9.414L8 2.586A2 2 0 008 2zM7 4a2 2 0 011-1.732V16a1 1 0 001 1h8a1 1 0 001-1V6.732A2 2 0 0116 6H9.414L7 4.586V4z" />
                    </svg>
                    </button> <small class="text-xs text-gray-500"> - Copie o link</small>
                </div>

              </div>
            </div>
          </div>
          <!-- 🔹 Contador de Usuários -->
        <div class="bg-white p-4 rounded-md shadow-sm mb-4 border-l-4 border-blue-500">
            <h3 class="text-lg font-semibold text-blue-700 flex items-center">
                <i class="material-icons mr-2 text-blue-400">people</i> Total de Usuários Cadastrados:
                <span class="ml-2 text-blue-900 font-bold text-xl">{{ total_users }}</span>
            </h3>
        </div>

        <!-- Tabela de usuários -->
        <table class="table-auto w-full border border-gray-200 text-sm">
            <thead>
                <tr class="bg-gray-200 text-left">
                    <th class="border border-gray-400 px-2 py-1">Nome</th>

                    <th class="border border-gray-400 px-2 py-1">Username</th>
                    <th class="border border-gray-400 px-2 py-1">Email</th>
                    <th class="border border-gray-400 px-2 py-1">Ações - Integrantes</th>
                    <th class="border border-gray-400 px-2 py-1">Ações - Associados</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="hover:bg-blue-100">
                        <td class="border border-gray-400 px-2 py-1">{{ user.get_full_name }}</td>

                                        
                        <td class="border border-gray-400 px-2 py-1">{{user.username}}</td>  
                        <td class="border border-gray-400 px-2 py-1">{{ user.email }}</td>

                        <!-- Coluna para Integrantes -->
                        <td class="border border-gray-400 px-2 py-1 text-center">
                            {% if user.id in integrantes_ativos_ids %}
                                <span class="text-green-500">Já é um integrante ativo</span>
                            {% elif user.id in integrantes_desligados_ids %}
                                <a href="{% url 'app_associacao:reintegration_integrante' %}?user_id={{ user.id }}" 
                                    class="bg-yellow-500 hover:bg-yellow-700 text-white font-semibold py-1 px-2 rounded text-xs">
                                    Reintegrar
                                </a>
                            {% else %}
                                <a href="{% url 'app_associacao:create_integrante' %}?user_id={{ user.id }}" 
                                    class="bg-gray-500 hover:bg-green-700 text-white font-semibold py-1 px-2 rounded text-xs">
                                    Tornar Integrante
                                </a>
                            {% endif %}
                        </td>
                        <!-- Coluna para Associados -->
                        <td class="border border-gray-400 px-2 py-1 text-center">
                            {% if user.id in associados_ids %}
                                {% if user.id in associados_desassociados_ids %}
                                    <a href="{% url 'app_associacao:reassociar_associado' %}?user_id={{ user.id }}"
                                    class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-1 px-2 rounded text-xs">
                                    Reassociar
                                    </a>
                                {% else %}
                                    <span class="text-green-500">Já é um associado</span>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'app_associados:create_associado' %}?user_id={{ user.id }}"
                                class="bg-blue-500 hover:bg-green-500 text-white font-semibold py-1 px-2 rounded text-xs">
                                Tornar Associado
                                </a>
                            {% endif %}

                        </td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-4">Nenhum usuário encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Paginação -->
        <div class="mt-4">
            {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Anterior</a>
                    {% endif %}
                    <span class="mx-2">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Próximo</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div><br>
</main>
<script src="{% static 'js/copy_to_clipboard.js' %}"></script>
<!-- Footer -->
{% include "components/footer_associacao.html" %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".select-user-btn");
        buttons.forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault();
                const userId = this.getAttribute("data-user-id");
                console.log("Usuário selecionado:", userId);
                // Aqui você pode enviar o ID do usuário selecionado ao backend ou preencher um formulário oculto.
            });
        });
    });
</script>
{% endblock list_users %}
