{% extends 'base.html' %}
{% load static %}
{% block title %}{{associacao.nome_fantasia}}{% endblock title %}

{% block single_associacao %}
<!-- Navbar (já configurada, incluímos no topo) -->
{% include 'components/navbar_associacao.html' %}
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-4">Detalhes da Associação</h1>
    <div class="bg-white shadow rounded-lg p-6">
        <!-- Informações Básicas -->
        <h2 class="text-xl font-semibold mb-3">Informações Básicas</h2>
        <p><strong>Nome Fantasia:</strong> {{ associacao.nome_fantasia }}</p>
        <p><strong>Razão Social:</strong> {{ associacao.razao_social }}</p>
        <p><strong>CNPJ:</strong> {{ associacao.cnpj }}</p>

        <!-- Contato -->
        <h2 class="text-xl font-semibold mt-6 mb-3">Contato</h2>
        <p><strong>Celular:</strong> {{ associacao.celular }}</p>
        <p><strong>Email:</strong> {{ associacao.email }}</p>
        <p><strong>Telefone:</strong> {{ associacao.telefone }}</p>

        <!-- Endereço -->
        <h2 class="text-xl font-semibold mt-6 mb-3">Endereço</h2>
        <p><strong>Logradouro:</strong> {{ associacao.logradouro }}</p>
        <p><strong>Bairro:</strong> {{ associacao.bairro }}</p>
        <p><strong>Número:</strong> {{ associacao.numero }}</p>
        <p><strong>Complemento:</strong> {{ associacao.complemento }}</p>
        <p><strong>CEP:</strong> {{ associacao.cep }}</p>
        <p><strong>Município:</strong> {{ associacao.municipio }}</p>
        <p><strong>UF:</strong> {{ associacao.uf }}</p>

        <!-- Cargos -->
        <h2 class="text-xl font-semibold mt-6 mb-3">Cargos</h2>
        <p><strong>Administrador:</strong> {{ associacao.administrador }}</p>
        <p><strong>Presidente:</strong> {{ associacao.presidente }}</p>
        <p><strong>Diretores:</strong>
            {% for diretor in associacao.diretores.all %}
                {{ diretor }},
            {% empty %}
                Nenhum diretor registrado.
            {% endfor %}
        </p>

        <!-- Fundadores -->
        <h2 class="text-xl font-semibold mt-6 mb-3">Fundadores</h2>
        <p>{{ associacao.fundadores }}</p>

        <!-- Datas -->
        <h2 class="text-xl font-semibold mt-6 mb-3">Datas</h2>
        <p><strong>Data de Abertura:</strong> {{ associacao.data_abertura|date:"d/m/Y" }}</p>
        <p><strong>Última Encerramento:</strong> {{ associacao.data_encerramento|date:"d/m/Y" }}</p>    <!-- Botão de Voltar -->
        <div class="mt-6">
            <a href="{% url 'app_associacao:list_associacao' %}" class="text-blue-500 hover:text-blue-700">
                &larr; Voltar para a lista Associação
            </a>
        </div>
    </div>
</div>


{% endblock single_associacao %}