<!--Base HTML -->
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title dinâmico -->
  <title>{% block title %}Apapesc Associação{% endblock title %}</title>

  <!-- Meta description dinâmico -->
  <meta name="description" content="{% block meta_description %}Apapesc, Associação dos Agricultores e Pescadores do Estado de Santa Catarina.{% endblock meta_description %}">

  <!-- Meta keywords dinâmico -->
  <meta name="keywords" content="{% block meta_keywords %}pescadores, agricultores, associação{% endblock meta_keywords %}">
  <meta property="og:title" content="{% block og_title %}{{ site_name }}{% endblock %}">
  <meta property="og:description" content="{% block og_description %}{{ site_description }}{% endblock %}">
  <meta property="og:image" content="{% block og_image %}{% static 'images/default-thumbnail.png' %}{% endblock %}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary_large_image">
  
  {% if request.path == "/" %}
    <link rel="canonical" href="https://www.apapesc.com/">
  {% elif request.path == "/sobre/" %}
    <link rel="canonical" href="https://www.apapesc.com/sobre/">
  {% elif request.path == "/contato/" %}
    <link rel="canonical" href="https://www.apapesc.com/contato/">
  {% elif request.path == "/associe-se/" %}
    <link rel="canonical" href="https://www.apapesc.com/associe-se/">
  {% else %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
  {% endif %}

  <link rel="icon" type="image/ico" sizes="48x48" href="{% static 'images/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="48x48" href="{% static 'images/favicon.png' %}">


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="font-sans min-h-screen flex flex-col">
  <!--BLOCOS DO APP HOME -->
  {% block home %}{% endblock home %}
  {% block list_mensagens %}{% endblock list_mensagens %}
  {% block sobre %}{% endblock sobre %}
  {% block contact_us %}{% endblock contact_us %}
  {% block associe_se %}{% endblock associe_se %}
  {% block list_contatosMensagens %}{% endblock list_contatosMensagens %}
  {% block single_contatoMensagem %}{% endblock single_contatoMensagem %}
  {% block Pageservicos %}{% endblock Pageservicos %}
  <!--########################################################################-->

  
  <!--BLOCOS DO APP MANAGER -->
  <!--Blocos Superusers -->
  {% block dashboard %}{% endblock dashboard %}

  <!--Blocos Groups -->
  {% block dashboard_Presidente %}{% endblock dashboard_Presidente %}

  {% block dashboard_Diretores %}{% endblock dashboard_Diretores %}

  {% block dashboard_administradores %}{% endblock dashboard_administradores %}

  {% block dashboard_delegados %}{% endblock dashboard_delegados %}

  {% block dashboard_AuxAssociacao %}{% endblock dashboard_AuxAssociacao %}

  {% block dashboard_AuxReparticao %}{% endblock dashboard_AuxReparticao %}

  {% block dashboard_Associados %}{% endblock dashboard_Associados %}

  {% block dashboard_vip %}{% endblock dashboard_vip %}

  {% block quadro_associados %}{% endblock quadro_associados %}
  <!--########################################################################-->

  <!--BLOCOS DO APP FINANCES -->
  <!--Anuidades-->
  {% block finances_super %}{% endblock finances_super %}
  {% block finances_associacao %}{% endblock finances_associacao %}
  {% block gerar_anuidades %}{% endblock gerar_anuidades %}
  {% block list_anuidades %}{% endblock list_anuidades %}
  {% block financeiro_SingleAssociado %}{% endblock financeiro_SingleAssociado %}
  {% block create_anuidade %}{% endblock create_anuidade %}
  {% block edit_anuidade %}{% endblock edit_anuidade %}
  {% block tringular_condictions %}{% endblock tringular_condictions %}
  {% block descontos_anuidades %}{% endblock descontos_anuidades %} 
  
  <!--Despesas-->
  {% block list_despesas %}{% endblock list_despesas %}
  {% block crete_TipoDespesa %}{% endblock crete_TipoDespesa %}
  {% block create_despesa %}{% endblock create_despesa %}
  {% block edit_despesa %}{% endblock edit_despesa %}
  <!--Entradas-->
  {% block create_entrada %}{% endblock create_entrada %}
  {% block create_TipoServico %}{% endblock create_TipoServico %}
  {% block list_entradas %}{% endblock list_entradas %}
  {% block edit_entrada %}{% endblock edit_entrada %}

  <!--Relatorios-->
  {% block relatorio_anuidades %}{% endblock relatorio_anuidades %}
  <!--########################################################################-->

  <!--BLOCOS DO APP SERVIÇOS -->
  <!--Extra Associados-->
  {% block create_extaAssociado %}{% endblock create_extaAssociado %}
  {% block single_ExtraAssociado %}{% endblock single_ExtraAssociado %}
  {% block list_ExtraAssociados %}{% endblock list_ExtraAssociados %}
  {% block edit_ExtraAssociados %}{% endblock edit_ExtraAssociados %}
  <!--Serviços-->
  {% block list_servicos %}{% endblock list_servicos %}
  {% block single_servico %}{% endblock single_servico %}

  {% block single_ServicoExtra %}{% endblock single_ServicoExtra %}
  {% block edit_ServicoExtraAssociado %}{% endblock edit_ServicoExtraAssociado %}
  {% block edit_servicoAssociado %}{% endblock edit_servicoAssociado %}
  {% block painel_fluxoEtapas %}{% endblock painel_fluxoEtapas %}

  <!-- Criação Edição de Serviços-->
  {% block create_servico_Associado %}{% endblock create_servico_Associado %}
  {% block create_servico_extraAssociado %}{% endblock create_servico_extraAssociado %}

  <!--########################################################################-->


  <!--BLOCOS DO APP ASSOCIAÇÃO -->
  {% block list_users %}{% endblock list_users %}
  {% block create_associacao %}{% endblock create_associacao %}
  {% block delete_associacao %}{% endblock delete_associacao %}
  {% block edit_associacao %}{% endblock edit_associacao %}
  {% block list_associacao %}{% endblock list_associacao %}
  {% block single_associacao %}{% endblock single_associacao %}
  {% block create_integrante %}{% endblock create_integrante %}
  {% block delete_integrante %}{% endblock delete_integrante %}
  {% block edit_integrante %}{% endblock edit_integrante %}
  {% block list_integrante %}{% endblock list_integrante %}
  {% block single_integrante %}{% endblock single_integrante %}
  {% block create_cargo %}{% endblock create_cargo %}
  {% block delete_cargo %}{% endblock delete_cargo %}
  {% block edit_cargo %}{% endblock edit_cargo %}
  {% block list_cargo %}{% endblock list_cargo %}
  {% block single_cargo %}{% endblock single_cargo %}
  {% block create_municipio %}{% endblock create_municipio %}
  {% block delete_municipio %}{% endblock delete_municipio %}
  {% block edit_municipio %}{% endblock edit_municipio %}
  {% block list_municipio %}{% endblock list_municipio %}
  {% block single_municipio %}{% endblock single_municipio %}
  {% block create_reparticao %}{% endblock create_reparticao %}
  {% block delete_reparticao %}{% endblock delete_reparticao %}
  {% block edit_reparticao %}{% endblock edit_reparticao %}
  {% block list_reparticao %}{% endblock list_reparticao %}
  {% block single_reparticao %}{% endblock single_reparticao %}
  {% block ex_integrantes %}{% endblock ex_integrantes %}
  <!--########################################################################-->

  <!--BLOCOS DO APP ASSOCIADOS -->
  {% block create_associado %}{% endblock create_associado %}
  {% block delete_associado %}{% endblock delete_associado %}
  {% block edit_associado %}{% endblock edit_associado %}
  {% block single_associado %}{% endblock single_associado %}
  {% block list_GeralAssociados %}{% endblock list_GeralAssociados %}
  {% block list_ativo %}{% endblock list_ativo %}
  {% block list_aposentado %}{% endblock list_aposentado %}  
  {% block list_canditado %}{% endblock list_canditado %}
  {% block list_desassociado %}{% endblock list_desassociado %}
  {% block list_clienteEspecial %}{% endblock list_clienteEspecial %}   
  {% block search_associado %}{% endblock search_associado %}
  {% block list_PorAssociacao %}{% endblock list_PorAssociacao %}
  {% block list_PorReparticao %}{% endblock list_PorReparticao %}
  {% block create_profissao %}{% endblock create_profissao %}
  <!--########################################################################-->

  <!--BLOCOS DO APP DOCUMENTOS -->  
  {% block upload_documentos %}{% endblock upload_documentos %}
  {% block create_tipo_documento %}{% endblock create_tipo_documento %}
  {% block list_TipoDocumento %}{% endblock list_TipoDocumento %}
  {% block delete_documento %}{% endblock delete_documento %}
  <!--########################################################################-->

  <!--BLOCOS DO APP EDITOR -->
  {% block create_nota %}{% endblock create_nota %}
  {% block list_nota %}{% endblock list_nota %}
  <!--########################################################################-->

  <!--BLOCOS DO APP AUTOMAÇÕES -->
  {% block upload_docAutomacao %}{% endblock upload_docAutomacao %}
  {% block list_automacoes %}{% endblock list_automacoes %}
  {% block pag_acoes %}{% endblock pag_acoes %}
  <!--########################################################################-->

  <!--BLOCOS DO APP TAREFAS -->
  {% block create_tarefa %}{% endblock create_tarefa %}
  {% block list_tarefa %}{% endblock list_tarefa %}
  {% block edit_tarefa %}{% endblock edit_tarefa %}
  {% block single_tarefa %}{% endblock single_tarefa %}
  {% block arquivadas_tarefa %}{% endblock arquivadas_tarefa %}
  {% block board_tarefa %}{% endblock board_tarefa %}
  {% block delete_tarefa %}{% endblock delete_tarefa %}
  {% block emissao_inss %}{% endblock emissao_inss %}
  {% block detalhamento %}{% endblock detalhamento %}
  {% block processamento %}{% endblock processamento %}
  {% block create_LancamentoInss %}{% endblock create_LancamentoInss %}
  <!--########################################################################-->

  <!--BLOCOS DO APP ARTICLES -->
  {% block create_article %}{% endblock create_article %}
  {% block list_articles %}{% endblock list_articles %}
  {% block single_article %}{% endblock single_article %}
  {% block edit_article %}{% endblock edit_article %}
  {% block delete_article %}{% endblock delete_article %}

  {% block list_category %}{% endblock list_category %}
  {% block list_tag %}{% endblock list_tag %}
  {% block create_category %}{% endblock create_category %}
  {% block create_tag %}{% endblock create_tag %}
  {% block edit_category %}{% endblock edit_category %}
  {% block edit_tag %}{% endblock edit_tag %}
  {% block delete_category %}{% endblock delete_category %}
  {% block delete_tag %}{% endblock delete_tag %}
  {% block categories %}{% endblock categories %}
  {% block tags %}{% endblock tags %}
  <!--########################################################################-->

  <!--BLOCOS DO APP EMBARCAÇÕES -->
  {% block create_embarcacao %}{% endblock create_embarcacao %}
  {% block list_embarcacoes %}{% endblock list_embarcacoes %}
  {% block single_embarcacao %}{% endblock single_embarcacao %}
  {% block edit_embarcacao %}{% endblock edit_embarcacao %}

  <!--########################################################################-->

  <!--BLOCOS DO APP LICENÇAS -->
  {% block create_licenca %}{% endblock create_licenca %}
  {% block list_licencas %}{% endblock list_licencas %}
  {% block single_licenca %}{% endblock single_licenca %}
  {% block edit_licenca %}{% endblock edit_licenca %}  
  {% block delete_licenca %}{% endblock delete_licenca %}
  <!--########################################################################-->


  <!--BLOCOS DO APP ESPÉCIES MARINHAS -->
  {% block list_especies %}{% endblock list_especies %}
  {% block single_especie %}{% endblock single_especie %}
  <!--{% block create_especie %}{% endblock create_especie %}
  {% block edit_especie %}{% endblock edit_especie %}
  {% block delete_especie %}{% endblock delete_especie %}-->
  {% block single_receita %}{% endblock single_receita %}
  <!--########################################################################-->

  
  <!--BLOCOS DO APP BENEFÍCIOS -->
  {% block list_beneficios %}{% endblock list_beneficios %}    
  {% block single_ControleBeneficio %}{% endblock single_ControleBeneficio %}
  {% block painel_beneficios %}{% endblock painel_beneficios %}
  {% block create_beneficio %}{% endblock create_beneficio %}
  {% block edit_beneficio %}{% endblock edit_beneficio %}
  {% block beneficios %}{% endblock beneficios %}
  {% block delete_beneficio %}{% endblock delete_beneficio %}

  <!--########################################################################-->





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7/inputmask.min.js"></script>


</body>
</html>
