{% extends 'base.html' %}

{% load static %}

{% block title %}Lista Categorias{% endblock title %}

{% block list_category %}

{% include 'components/navbar_associacao.html' %}

<main class="flex-grow bg-gray-100 py-10">
    <div class="container mx-auto max-w-lg bg-white p-6 rounded-lg shadow-lg">
        <!-- Título e Contagem -->
        <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">Categorias</h1>
        <p class="text-gray-600 text-center mb-6">
            Total de Categorias: <span class="font-semibold">{{ category_count }}</span>
        </p>

        <!-- Lista de Categorias -->
        <ul class="space-y-4">
            {% for category in categories %}
            <li class="flex justify-between items-center bg-gray-50 p-4 rounded-lg shadow-sm hover:bg-gray-100 transition">
                <!-- Informações da Categoria -->
                <div>
                    <h2 class="text-lg font-semibold text-gray-700">{{ category.name }}</h2>
                    <p class="text-sm text-gray-600">{{ category.description }}</p>
                </div>
                <!-- Ações -->
                <div class="flex space-x-2">
                    <a href="{% url 'app_articles:edit_category' category.pk %}" class="text-blue-500 hover:text-blue-600 focus:outline-none">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="{% url 'app_articles:delete_category' category.pk %}" class="text-red-500 hover:text-red-600 focus:outline-none">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </li>
            {% empty %}
            <li class="text-gray-500 italic text-center">Nenhuma Categoria encontrada.</li>
            {% endfor %}
        </ul>
    </div>
</main>


<!-- Footer -->
{% include "components/footer_associacao.html" %}
{% endblock list_category %}
