{% load static %}
<!-- Toolbar do Editor -->
<div class="toolbar mb-4">
    <button type="button" onclick="formatFontText('formatBlock', 'H1')" class="btn">T1</button>
    <!-- Mude de '<h2>' para 'H2' -->
    <button type="button" onclick="formatFontText('formatBlock', 'H2')" class="btn">T2</button>
    <button type="button" onclick="returnToFontParagraph()" class="btn">Normal</button>
    <button type="button" onclick="formatFontText('bold')" class="btn">B</button>
    <button type="button" onclick="formatFontText('italic')" class="btn">I</button>
    <button type="button" onclick="formatFontText('underline')" class="btn">U</button>
    <button type="button" onclick="createFontLink()" class="btn">Link</button>
</div>
<div class="toolbar mb-4">
    <!-- Se quiser total compatibilidade, pode trocar '<blockquote>' por 'BLOCKQUOTE' no JS -->
    <button type="button" onclick="addFontBlockquote()" class="btn">" "</button>
    <select onchange="changeFontTextColor(this.value)" class="btn">
        <option value="">Cores</option>
        <option value="black">Preto</option>
        <option value="red">Vermelho</option>
        <option value="blue">Azul</option>
        <option value="green">Verde</option>
    </select>
    <select onchange="changeFontBackgroundColor(this.value)" class="btn">
        <option value="">Fundo</option>
        <option value="white">Branco</option>
        <option value="yellow">Amarelo</option>
        <option value="lightblue">Azul Claro</option>
        <option value="lightgreen">Verde Claro</option>
    </select>
</div>

<div id="font-editor" contenteditable="true" class="border border-gray-300 rounded-md p-3">
    {{ form.research_sources.value|safe }}
</div>
<input type="hidden" id="hidden-font-editor" name="{{ form.research_sources.name }}" value="{{ form.research_sources.value|default:'' }}">

<script src="{% static 'js/font_editor.js' %}"></script>


<!-- CSS do Editor -->
<link rel="stylesheet" href="{% static 'css/font_editor.css' %}">

