
{% load static %}
<!-- Toolbar do Editor -->
<div class="toolbar mb-4">
    <button type="button" onclick="formatText('formatBlock', 'H1');" class="btn">Título</button>
    <button type="button" onclick="formatText('formatBlock', '<h2>')" class="btn">Subtítulo</button>
    <button type="button" onclick="returnToParagraph()" class="btn">Texto Normal</button>
    <button type="button" onclick="formatText('bold')" class="btn">B</button>
    <button type="button" onclick="formatText('italic')" class="btn">I</button>
    <button type="button" onclick="formatText('underline')" class="btn">U</button>
    <button type="button" onclick="createLink()" class="btn">Link</button>

    <button type="button" onclick="addBlockquote()" class="btn">Comentário</button>
    <select onchange="changeTextColor(this.value)" class="btn">
        <option value="">Cor do texto</option>
        <option value="black">Preto</option>
        <option value="red">Vermelho</option>
        <option value="blue">Azul</option>
        <option value="green">Verde</option>
    </select>
    <select onchange="changeBackgroundColor(this.value)" class="btn">
        <option value="">Fundo</option>
        <option value="white">Branco</option>
        <option value="yellow">Amarelo</option>
        <option value="lightblue">Azul Claro</option>
        <option value="lightgreen">Verde Claro</option>
    </select>
</div>


<div id="editor" contenteditable="true" class="border border-gray-300 rounded-md p-3">
    {{ form.content.value|safe }}
</div>
<input type="hidden" id="hidden-editor" name="{{ form.content.name }}" value="{{ form.content.value|default:'' }}">

<!-- CSS do Editor -->
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
<!-- JS do Editor -->
<script src="{% static 'js/editor.js' %}"></script>
