{% load static %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<nav style="background-color:#111827 ; color: white;">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
        <!-- Logo -->
        <a href="/" class="flex items-center">
            <img src="{% static 'images/Logo_Apapesc_2025.png' %}" alt="Logo APAPESC" class="w-16 h-16 md:w-24 md:h-24 object-contain rounded-md">
        </a>

        <!-- Botão do menu para dispositivos móveis -->
        <div class="md:hidden">
            <button id="menu-btn" class="text-2xl focus:outline-none">
                <span class="material-icons">menu</span>
            </button>
        </div>

        <!-- Menu para desktop -->
        <div class="hidden md:flex space-x-6 items-center text-sm">
            <!-- Dropdown Manager -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Super
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg z-50 opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="{% url 'app_manager:super_dashboard' %}" class="block px-4 py-2 hover:bg-gray-200">Dashboard</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_finances:resumo_financeiro' %}" class="block px-4 py-2 hover:bg-gray-200">Finances</a>
                    <a href="#" class="block px-4 py-2 text-gray-400 hover:bg-gray-200">Lançar Despesa</a>
                    <a href="{% url 'app_finances:list_despesas' %}" class="block px-4 py-2 hover:bg-gray-200">Listas de Despesas</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_finances:create_anuidade' %}" class="block px-4 py-2 hover:bg-gray-200">Cadastrar Anuidade</a>
                    <a href="{% url 'app_finances:list_anuidades' %}" class="block px-4 py-2 hover:bg-gray-200">Lista Anuidades</a>
                    <a href="{% url 'app_finances:tri_condictions' %}" class="block px-4 py-2 hover:bg-gray-200">Lista Tri Anuidaeds</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_manager:quadro_associados' %}" class="block px-4 py-2 hover:bg-gray-200">Associados Status</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_automacoes:lista_automacoes' %}" class="block px-4 py-2 hover:bg-gray-200">Declarações Uploads</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                   
                </div>
            </div>           
            <!-- Dropdown Listas -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Listas
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg z-50 opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="{% url 'app_associados:list_geral_associado' %}" class="block px-4 py-2 hover:bg-gray-200">LG - Associados</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_associacao:list_associacao' %}" class="block px-4 py-2 hover:bg-gray-200">Associações</a>
                    <a href="{% url 'app_associacao:list_reparticao' %}" class="block px-4 py-2 hover:bg-gray-200">Repartições</a>
                    <a href="{% url 'app_associacao:list_municipio' %}" class="block px-4 py-2 hover:bg-gray-200">Mun. de Circunscrição</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="#embarcacoes" class="block px-4 py-2 text-gray-400 hover:bg-gray-200">Embarcações</a>
                    <a href="#embarcacoes" class="block px-4 py-2 text-gray-400 hover:bg-gray-200">Licenças</a>
                    <hr class="border-t-2 border-gray-500 my-2">                    
                    <a href="{% url 'app_associacao:list_integrante' %}" class="block px-4 py-2 hover:bg-gray-200">Integrantes Associação</a>
                    <a href="{% url 'app_associacao:list_cargo' %}" class="block px-4 py-2 hover:bg-gray-200">Cargos</a>
                    <a href="{% url 'app_associacao:ex_integrantes' %}" class="block px-4 py-2 hover:bg-gray-200">Ex-Integrantes</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_documentos:list_tipo_documento' %}" class="block px-4 py-2 hover:bg-gray-200">Tipos Documentos</a> 
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_articles:list_articles' %}" class="block px-4 py-2 hover:bg-gray-200">Artigos</a> 
                    
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_associacao:list_users' %}" class="block px-4 py-2 hover:bg-gray-200">Users/Accounts</a>

                </div>
            </div>

            <!-- Dropdown Cadastros -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Cadastrar
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg z-50 opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="{% url 'app_associacao:create_associacao' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Associação</a>
                    <a href="{% url 'app_associacao:create_reparticao' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Repartição</a>
                    <a href="{% url 'app_associacao:create_municipio' %}" class="block px-4 py-2 hover:bg-gray-200">Mun. Circunscrição</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="#embarcacoes" class="block px-4 text-gray-400 py-2 hover:bg-gray-200">Nova Embarcação</a>
                    <a href="#licencas" class="block px-4 py-2 text-gray-400 hover:bg-gray-200">Nova Licença</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_associacao:create_cargo' %}" class="block px-4 py-2 hover:bg-gray-200">Novo Cargo(Integrante)</a>
                    <a href="{% url 'app_associados:create_profissao' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Profissão</a>
                    <!-- CADASTRA NOVO INTEGRANTE E ASSOCIADO A PARTIR DE UM USUÁRIO -->
                    <a href="{% url 'app_associacao:list_users' %}" class="block px-4 py-2 hover:bg-orange-200">Novo Integrante</a>
                    <a href="{% url 'app_associacao:list_users' %}" class="block px-4 py-2 text-white bg-blue-950 hover:bg-green-700">Novo Associado</a>
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_documentos:create_tipo_documento' %}" class="block px-4 py-2 hover:bg-gray-200">Novo Tipo de Documento</a> 
                    <hr class="border-t-2 border-gray-500 my-2">
                    <a href="{% url 'app_articles:create_article' %}" class="block px-4 py-2 hover:bg-gray-200">Novo Artigo</a>
                    <a href="{% url 'app_articles:create_category' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Categoria</a>
                    <a href="{% url 'app_articles:create_tag' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Tag</a>
                </div>
            </div>

            <!-- Tarefas  -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Tarefas
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg z-50 opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="{% url 'app_tarefas:list_tarefas' %}" class="block px-4 py-2 hover:bg-gray-200">Lista de Tarefas</a>
                    <a href="{% url 'app_tarefas:create_tarefa' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Tarefa</a>
                    <a href="{% url 'app_tarefas:board_tarefas' %}" class="block px-4 py-2 hover:bg-gray-200">Fluxo Tarefas</a>
                    <a href="{% url 'app_tarefas:tarefas_arquivadas' %}" class="block px-4 py-2 hover:bg-gray-200">Tarefas Arquivadas</a>
                </div>
            </div>
       

            <!-- Link para o login (somente quando o usuário não estiver autenticado) -->
            {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}" class="hover:text-gray-200">Login</a>
            {% else %}
                <a href="#" class="text-yellow-300"><strong style="font-size:12px;">{{ user.username }}</strong></a>
                <!-- Logout  -->
                <a href="{% url 'account_logout' %}" class="hover:text-gray-200">Sair</a>
            {% endif %}

            {% if user.is_authenticated %}
            <!-- Navbar -->
                <div class="relative">
                    <a href="#" class="text-gray-700 hover:text-gray-900">
                        <i class="material-icons">notifications</i>
                        {% if notificacoes.count > 0 %}
                            <span class="absolute top-0 right-0 inline-block w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full">
                                {{ notificacoes.count }}
                            </span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu hidden">
                        <ul class="bg-white shadow rounded-lg p-4">
                            {% for notificacao in notificacoes %}
                                <li class="py-2 border-b">
                                    {{ notificacao.mensagem }}
                                    <a href="{% url 'app_tarefas:marcar_como_lida' notificacao.id %}" class="text-blue-500">Marcar como lida</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!--  Menu para dispositivos móveis CELULAR oculto por padrão -->
    <div id="mobile-menu" class="hidden bg-blue-500 md:hidden">
        <!-- Usaremos detalhes para criar dropdowns no mobile -->
        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Super</summary>
            <div class="bg-blue-600">
                <a href="{% url 'app_manager:super_dashboard' %}" class="block px-6 py-2 hover:bg-blue-700">Dashboard</a>
                <a href="{% url 'app_finances:resumo_financeiro' %}" class="block px-6 py-2 hover:bg-blue-700">Finances</a>
                <a href="#" class="block px-6 py-2 text-gray-400 hover:bg-blue-700">Lançar Despesa</a>
                <a href="{% url 'app_finances:list_despesas' %}" class="block px-6 py-2 hover:bg-blue-700">Listas de Despesas</a>
                <a href="{% url 'app_finances:create_anuidade' %}" class="block px-6 py-2 hover:bg-blue-700">Cadastrar Anuidade</a>
                <a href="{% url 'app_finances:list_anuidades' %}" class="block px-6 py-2 hover:bg-blue-700">Lista Anuidades</a>
                <a href="{% url 'app_finances:tri_condictions' %}" class="block px-6 py-2 hover:bg-blue-700">Lista Tri Anuidaeds</a>
                <a href="{% url 'app_manager:quadro_associados' %}" class="block px-6 py-2 hover:bg-blue-700">Associados Status</a>
                <a href="{% url 'app_automacoes:lista_automacoes' %}" class="block px-6 py-2 hover:bg-blue-700">Declarações Uploads</a>
                
            </div>
        </details>
        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Listas</summary>
            <div class="bg-blue-600">
                <a href="{% url 'app_associados:list_geral_associado' %}" class="block px-6 py-2 hover:bg-blue-700">LG - Associados</a>
                <a href="{% url 'app_associacao:list_associacao' %}" class="block px-6 py-2 hover:bg-blue-700">Associações</a>
                <a href="{% url 'app_associacao:list_reparticao' %}" class="block px-6 py-2 hover:bg-blue-700">Repartições</a>
                <a href="{% url 'app_associacao:list_municipio' %}" class="block px-6 py-2 hover:bg-blue-700">Mun. de Circunscrição</a>
                <a href="{% url 'app_associacao:list_integrante' %}" class="block px-6 py-2 hover:bg-blue-700">Integrantes Associação</a>
                <a href="{% url 'app_associacao:list_cargo' %}" class="block px-6 py-2 hover:bg-blue-700">Cargos</a>
                <a href="{% url 'app_associacao:ex_integrantes' %}" class="block px-6 py-2 hover:bg-blue-700">Ex-Integrantes</a>
                <a href="{% url 'app_documentos:list_tipo_documento' %}" class="block px-6 py-2 hover:bg-blue-700">Tipos Documentos</a>
                <a href="{% url 'app_articles:list_articles' %}" class="block px-6 py-2 hover:bg-blue-700">Artigos</a>
                <a href="{% url 'app_associacao:list_users' %}" class="block px-6 py-2 hover:bg-blue-700">Users/Accounts</a>
                

            </div>
        </details>

        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Cadastrar</summary>
            <div class="bg-blue-600">
                <a href="{% url 'app_associacao:create_associacao' %}" class="block px-6 py-2 hover:bg-blue-700">Nova Associação</a>
                <a href="{% url 'app_associacao:create_reparticao' %}" class="block px-6 py-2 hover:bg-blue-700">Nova Repartição</a>
                <a href="{% url 'app_associacao:create_municipio' %}" class="block px-6 py-2 hover:bg-blue-700">Mun. Circunscrição</a>
                <a href="{% url 'app_associacao:create_cargo' %}" class="block px-6 py-2 hover:bg-blue-700">Novo Cargo(Integrante)</a>
                <a href="{% url 'app_associados:create_profissao' %}" class="block px-6 py-2 hover:bg-blue-700">Nova Profissão</a>
                <a href="{% url 'app_associacao:list_users' %}" class="block px-6 py-2 hover:bg-blue-700">Novo Integrante</a>
                <a href="{% url 'app_associacao:list_users' %}" class="block px-6 py-2 hover:bg-blue-700">Novo Associado</a>
                <a href="{% url 'app_documentos:create_tipo_documento' %}" class="block px-6 py-2 hover:bg-blue-700">Novo Tipo de Documento</a>
                <a href="{% url 'app_articles:create_article' %}" class="block px-6 py-2 hover:bg-blue-700">Novo Artigo</a>
                <a href="{% url 'app_articles:create_category' %}" class="block px-6 py-2 hover:bg-blue-700">Nova Categoria</a>
                <a href="{% url 'app_articles:create_tag' %}" class="block px-6 py-2 hover:bg-blue-700">Nova Tag</a>
            </div>
        </details>
        <!-- Tarefas  -->
        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Tarefas</summary>
            <div class="bg-blue-600">
                <a href="{% url 'app_tarefas:list_tarefas' %}" class="block px-6 py-2 hover:bg-blue-700">lista Tarefas</a>
                <a href="{% url 'app_tarefas:create_tarefa' %}" class="block px-6 py-2 hover:bg-blue-700">Nova Tarefa</a>
                <a href="{% url 'app_tarefas:board_tarefas' %}" class="block px-6 py-2 hover:bg-blue-700">Fluxo Tarefa</a>
                <a href="{% url 'app_tarefas:tarefas_arquivadas' %}" class="block px-6 py-2 hover:bg-blue-700">Tarefas Arquivadas</a>
            </div>
        </details>

        <!-- Link de login para dispositivos móveis -->
        {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}" class="block px-4 py-2 hover:bg-blue-700">Login</a>
        {% else %}
            <a href="{% url 'account_logout' %}" class="block px-4 py-2 hover:bg-blue-700">Logout</a>
            <a href="#" class="block px-4 py-2 hover:bg-blue-700"><strong class="text-yellow-300">Olá, {{user.username}}</strong></a>

        {% endif %}
    </div>
</nav>

<!-- Importar Google Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7/inputmask.min.js"></script>

<script src="{% static 'js/notificacoes.js' %}"></script>
<script src="{% static 'js/menu_mobile.js' %}"></script>

