{% extends 'base.html' %}
{% load static %}

{% block ex_integrantes %}
<!-- Navbar -->
{% include "components/navbar_apapesc.html" %}


<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Lista de Ex-Integrantes</h1>

    <!-- Campo de busca -->
    <form method="get" action="{% url 'app_apapesc:ex_integrantes' %}" class="mb-6">
        <input 
            type="text" 
            name="q" 
            placeholder="Buscar por nome, sobrenome ou email" 
            value="{{ request.GET.q }}" 
            class="appearance-none border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        >
        <button 
            type="submit" 
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
        >
            Buscar
        </button>
    </form>

    <!-- Tabela de Ex-Integrantes -->
    <table class="table-auto w-full border-collapse border border-gray-400">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-400 px-4 py-2">Nome</th>
                <th class="border border-gray-400 px-4 py-2">Email</th>
                <th class="border border-gray-400 px-4 py-2">Data de Saída</th>
                <th class="border border-gray-400 px-4 py-2">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for ex_integrante in ex_integrantes %}
                <tr>
                    <td class="border border-gray-400 px-4 py-2">{{ ex_integrante.user.get_full_name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ ex_integrante.user.email }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ ex_integrante.data_saida|date:"d/m/Y" }}</td>
                    <td class="border border-gray-400 px-4 py-2">
                        <a href="{% url 'app_apapesc:reintegration_integrante' %}?user_id={{ ex_integrante.user.id }}" 
                           class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded">
                            Reintegrar
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center py-4">Nenhum ex-integrante encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="mt-4">
        {% if is_paginated %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Anterior</a>
                {% endif %}
                <span class="mx-2">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Próximo</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock ex_integrantes %}
