{% extends 'base.html' %}
{% load static %}

{% block home %}
<!-- Navbar -->
{% include "components/navbar_home.html" %}
<link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
<section class="bg-gradient-to-r from-blue-700 via-blue-500 to-blue-700 text-white py-12">
  <div class="container mx-auto px-6 text-center">
<!-- Título Principal -->
<h1 class="apapesc-title">
    APAPESC
</h1>


    <!-- Título Secundário -->
    <h2 class="text-4xl md:text-5xl font-bold tracking-tight mt-4">
      Tradição e Cultura da Pesca em Santa Catarina
    </h2>

    <!-- Subtítulo -->
    <p class="mt-6 text-lg leading-relaxed max-w-3xl mx-auto">
      A pesca em Santa Catarina é mais que uma atividade econômica; é uma tradição enraizada, passada de geração em geração. 
      Com respeito ao mar e à natureza, os pescadores catarinenses mantêm viva uma herança cultural que sustenta famílias, molda 
      comunidades e fortalece a identidade regional.
    </p>
  </div>
</section>

{% endblock home %}

